form { 
    width: 700px; 
    margin:100px auto; 
    border: 2px solid darkslategrey;
    box-shadow: 5px 5px 10px darkcyan;
    border-radius: 10px;
    font-size: 1.2em;
    transform: rotate(-10deg);
    }
    label { width: 120px; display: inline-block;}
    p, h2 { margin-left: 15px;}    
    input[id], select { 
        padding: 8px; 
        width: 420px; 
        background-color: salmon; 
        border: none;
    }
    button { 
        width: 140px; 
        height: 40px; 
        border: none; 
        background-color: darkgoldenrod;
    }
    h3,h1{ 
        text-align: center; 
        margin: 0 0 5px 0; 
        background-color: darkslategrey;
        padding : 8px 0; 
        color: white; 
    }
    #kq { 
        text-align: center; 
        color:darkblue; 
        font-weight: 800;
    }